c (-1, -2, 3), (-5, 2), (-4, -1), (-1, 3, -4), (-7, -5, 2), (6, -7, -4, -3) is horn clause
c flip 1, 3, 4, 7
c (1, -2, -3), (-5, 2), (4, 1), (1, -3, 4), (7, -5, 2), (6, 7, 4, 3) is renamable horn clause
c flip 1 4 6 7
c (-1, -2, -3), (-5, 2), (-1, -4), (-1, -3, -4), (-7, -5, 2), (-6, -7, -4, 3) is horn
p cnf 7 6
1 -2 -3 0
2 -5 0
1 4 0
1 -3 4 0
2 -5 7 0
3 4 6 7 0

